# Node.js
node_modules/
package-lock.json

# CLASP

# VSCode / Editor junk
.vscode/
*.log

# MacOS / system files
.DS_Store

# Prettier ignore (if mistakenly generated in wrong path)
.prettierignore

# Clasp ignore
# clasp.config.json